.mask{height:100%;width:100%; position:fixed; top:0; left:0;  background-color: #000;
  background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  opacity:0.7; filter:alpha( opacity=70);
  z-Index:999999;display:block;}

.intro-showElement{z-index: 9999999 !important;}
.intro-relativePosition {position: relative;}

.intro-item{position: absolute;z-index: 9999998;background-color: #FFF;background-color: rgba(255,255,255,.9);
  border: 1px solid #777;border: 1px solid rgba(0,0,0,.5); border-radius: 4px;box-shadow: 0 2px 15px rgba(0,0,0,.4);
      -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.intro-box{position:absolute;}
.intro-box a{ position:absolute; width:95px; height:32px; text-indent:-999px;overflow:hidden; cursor:pointer;}
.intro-box span{ position:absolute; height:30px; width:30px;  text-indent:-999px; overflow:hidden; cursor:pointer;}

.step2{background:url(../images/guide1.png);width:397px;height:311px;}
.step2 a{top:209px; left:143px;}
.step2 span{top:99px; left:331px;}

.step1{background:url(../images/guide1.png);width:397px;height:311px;}
.step1 a{top:209px; left:143px;}
.step1 span{top:99px; left:331px;}

.step0{ background:url(../images/guide2.png);width:449px;height:308px;}
.step0 a{top:210px; left:146px;}
.step0 span{ top:100px; right:86px;}

.step3{ background:url(../images/guide3.png);width:397px;height:302px;}
.step3 a{top:207px; left:153px;}
